{% extends "layout.html" %}

{% block title %}
    checkout
{% endblock %}

{% block script %}
   <script>
    document.addEventListener("DOMContentLoaded", function () {
    // Select all elements with the class "select-validity"
    const selectValidityButtons = document.querySelectorAll(".select-validity");

    // Add click event listener to each button
    selectValidityButtons.forEach(function (button) {
        button.addEventListener("click", function () {
            const planPrice = this.getAttribute("data-planprice");
            const planDisc = this.getAttribute("data-discount");
            const planValid = this.value;

            console.log(planPrice, planDisc, planValid);

            // Uncomment and use the following block if needed
           
            const totalPrice = planPrice * planValid;
            let discountedPrice;
            if (planDisc > 0) {
                discountedPrice = totalPrice * planDisc / 100;
                discountedPrice = totalPrice - discountedPrice;
            } else {
                discountedPrice = totalPrice;
            }
            document.querySelector(".totalAmount").textContent = discountedPrice;
            document.querySelector(".totalAmountWithoutDiscount").textContent = totalPrice;
            document.querySelector(".saving").textContent = (totalPrice-discountedPrice).toFixed(2);;
            
        });
    });
});

   </script>
{% endblock script %}



{% block content %}
       <main>
		<!-- Services -->
		<section class="container my-4">
			<h1 class="text-center mb-4 section-heading border-bottom pb-2">Checkout</h1>
				<table class="table table-bordered">
					<thead class="table-warning">
						<tr>
							<th>Plan</th>
							<th>Plan Detail</th>
							<th>Payment For</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<table class="table-bordered table">
									<tr>
										<th>Name</th>
										<td>{{plans.title}}</td>
									</tr>
									<tr>
										<th>Price</th>
										<td>₹{{plans.price}}</td>
									</tr>
									<tr>
										<th>Max Member</th>
										<td>30</td>
									</tr>
									<tr>
										<th>Already Registered</th>
										<td>15</td>
									</tr>
									<tr>
										<th>Balance Seats</th>
										<td>15</td>
									</tr>
								</table>
							</td>
							<td>
								<ul class="list-unstyled">
					                {% for feature in plans.planfeature_set.all %}
                                        <li>{{ feature.feature }}</li>
                                    {% endfor %}
					            </ul>
							</td>
							<td>
								<table class="table table-bordered">
									<tr>
										<td><input data-planprice="{{plans.price}}" data-discount="0" type="radio" id="validity1" name="validity" class="select-validity" value="1" /></td>
										<th><label for="validity1">1 Month</label></th>
										<td></td>
									</tr>
									<tr>
										<td><input data-planprice="{{plans.price}}" data-discount="10" type="radio" id="validity2" name="validity" class="select-validity" value="3" /></td>
										<th><label for="validity2">3 Month</label></th>
										<td>10%</td>
									</tr>
									<tr>
										<td><input data-planprice="{{plans.price}}" data-discount="20" type="radio" id="validity3" value="6" name="validity" class="select-validity" /></td>
										<th><label for="validity3">6 Month</label></th>
										<td>20%</td>
									</tr>
									<tr>
										<td><input data-planprice="{{plans.price}}" data-discount="30" type="radio" id="validity4" value="12" name="validity" class="select-validity" /></td>
										<th><label for="validity4">12 Month</label></th>
										<td>30%</td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
					<tfoot class="table-info">
						<tr>
							<td></td>
							<th>Total Amount With discount</th>
                            
							<td><b>₹<span class="totalAmount">{{plans.price}}</span></b></td>
						</tr>
                        <tr>
							<td></td>
							<th>Total Amount Without discount</th>
							<td><b>₹<span class="totalAmountWithoutDiscount">{{plans.price}}</span></b></td>
						</tr>
                         <tr>
							<td></td>
							<th>Save</th>
							<td><b>₹<span class="saving">0</span></b></td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td><input type="submit" value="Proceed to Payment" class="btn btn-primary" /></td>
						</tr>
					</tfoot>
				</table>
		</section>
		<!-- End -->
    </main>
    <!-- End -->


{% endblock %}