{% extends "layout.html" %}

{% block title %}
    faq
{% endblock %}

{% block content %}
   <!-- FAQ 2 - Bootstrap Brain Component -->
<section class="bsb-faq-2 bg-light py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row gy-5 gy-lg-0">
      <div class="col-12 col-lg-6">
        <h2 class="h1 mb-3">How can we help you? Unlocking possibilities for your web hosting FAQs answered. </h2>
        <p class="lead fs-4 text-secondary mb-4">We hope you have found an answer to your question. If you need any help, please search your query on our Support Center or contact us via email.</p>
        <a href="#!" class="btn btn-lg bsb-btn-2xl btn-primary">All FAQ</a>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-xl-end">
          <div class="col-12 col-xl-11">
            <div class="accordion accordion-flush" id="accordionExample">
            {% for faq in faqs %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{ forloop.counter }}">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
          {{ faq.question }}
        </button>
      </h2>
      <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          {{ faq.answer }}
        </div>
      </div>
    </div>
  {% endfor %}
              
            
            
          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
